[submodule "tools/bamcp"]
	path = tools/bamcp
	url = https://github.com/RTrentJones/BAMCP.git
[submodule "tools/heistmind"]
	path = tools/heistmind
	url = https://github.com/RTrentJones/HeistMind
[submodule "tools/pg_kafka"]
	path = tools/pg_kafka
	url = https://github.com/RTrentJones/pg_kafka
[submodule "tools/polyphony"]
	path = tools/polyphony
	url = https://github.com/RTrentJones/Polyphony.git
